* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* font added locally */

@font-face {
    font-family: 'Ruhl';
    src: url('/fonts/FrankRuhlLibre-Regular.ttf')
}

@font-face {
    font-family: 'Ruhl';
    src: url('/fonts/FrankRuhlLibre-Medium.ttf')
}

@font-face {
    font-family: 'Vibes';
    src: url('/fonts/Greatvibes-Regular.ttf')
}

body {
    font-family: "Poppins", sans-serif;
    animation: opening 1s ease-in-out;
    -webkit-animation: opening 1s ease-in-out;
}


/* Global styles */

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: $header1;
}

li,
button,
label input,
a,
p {
    font-size: $text;
    ;
}

h2 {
    font-size: $header2;
}

h3 {
    font-size: $header3;
}

h4,
h5 {
    font-size: $header4;
}

ul {
    list-style: none;
}


/* helperclasses(codes that will be used multiple times) codes can be applied in html */

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: $gray-text;
}